@import '../Styles/Boostrap.css';
@import '../Styles/Swiper.css';

@font-face {
    font-family: 'myfont';
    src: url(../Fonts/Poppins-Regular.otf),
    url(../Fonts/Poppins-Regular.ttf),
    url(../Fonts/Poppins-Regular.woff),
    url(../Fonts/Poppins-Regular.woff2);
}

*{
     font-family: 'myfont';
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#5956E9;
}
.Navbar_container{
  
    color: #fff !important;
    background-color: var(--primary-color);
}
.nav-link{
    color: #fff !important;
}

.Navbar_container>div{
    justify-content: space-between;
}
.Banner-container{
    display: flex;
   align-items: center;
    height: 480px;
    background-color: #EFEFFA;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-image: url(../Images/Bannerimage.png);
}
.Banner-container>div>h1:nth-child(2){
    color: var(--primary-color);
}
.Banner-container>div>button{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 16px;
}
.Aboutsection-img{
    background-color: #E6E5FF;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    display: grid;
    place-items: center;
    color: var(--primary-color);
}
.Aboutsection-info>p{
 color: #8C8C8C;
}
.Category-img{
    width: 120px;
    height: 120px;
}
.counter-container>div>span{
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    border-radius: 10px;
  background-color: var(--primary-color);
}
.Flashdeal_card{
    background-color: #DFDFDF;
    border-radius: 15px;
}
.Flashdeal_card>div:nth-child(1)>h6{
    color: var(--primary-color);
    font-weight: bold;
}
.Flashdeal_card>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Banner_btn{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 15px;
    width: fit-content;
}
.offer_tag{
    position: absolute;
    right: 0;
    top: -8px;
    background-color: black;
    color: #fff;
    
    font-size: 12px;
   width:50px ;
   height: 50px;
    padding: 15px;
    border-radius: 100px;

}
.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -40px !important; 
}
.Products-card{
    border-radius: 15px !important;
}
.Products-card>img{
    border-radius: inherit;
}

.Star-icon{
    color: #5956E9;
}
.Products-card>.card-body>p{
    font-size: 15px;
     text-align: justify;
     padding: 10px ;
     color: #8C8C8C;
}
.Products-card>.card-body>div>button{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 16px;
}
.Product-badge{
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
.Product-badge>div:nth-child(1){
    border-radius: 7px;
    text-align: center;
    color: #fff;
    background-color: black;
    padding: 7px;
    font-size: 12px;
}
.Product-badge1{
    background-color:#F3F3F3;
    border-radius: 50px;
    width: 50px;
   display: flex;
   align-items: center;
    height: 50px;

}
.Product-badge>div:nth-child(2){
    background-color:#F3F3F3;
    border-radius: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    height: 50px;

}
.swiper-pagination-bullet-active{
    background-color: #5956E9 !important;
}
.Hotoffer_card{
    border-radius: 15px;
    background-color: #5755A6;
}
.Hotoffer_card2{
    border-radius: 15px;
    background-color: #DD8C93;
}
.Hotoffer_card>div,
.Hotoffer_card2>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Hotoffer-btn{
    background-color:black !important;
    color: #fff;
    border-radius: 40px;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 15px;
    width: fit-content;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
     background-color: #5755A6;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  .Loginpage_container>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
  }
  .Loginform{
    border-radius: 15px 0 15px 0 !important;
  }
  .Loginpage_container>div>div:nth-child(1)>img{
   height: 500px;
    width: 100%;
    border-radius: inherit;
  }
  .Submit-formbtn{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 19px;
    width: fit-content;
    
  }
  .Secondary-btn{
    border: 1px solid var(--primary-color);
    color:var(--primary-color);
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 19px;
    width: fit-content;
  }
  .forgotpassword-link{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
  }
  .Productsimage-container{
    background-color: #DFDFDF;
     border-radius: 15px;
     text-align: center;
  }
  .Subimage-container>div>img{
     height: 150px; 
      width: 150px;

  }
  .ProductsDescription-section>div>span{
      content: '';
      width: 13px;
      height: 13px;
      border-radius: 50px;
      background-color: #DFDFDF;

      align-items: center;
  }

  .colors{
    color: #5956E9;
  }
  .Productsrating-container>span{
    content: '';
    width: 1px;
    margin: 0 auto;
    height: 10px;
    background-color: #8C8C8C;
  }
  .Productsrating-container{
    width: fit-content;
  }
  .Products-sectioncontainer{
    color: #646363;
    font-size: 17px;
  }
  .Productsoffers-badge{
 height: fit-content;
  }
  .Products-Counter{
    background-color: #EFEFFA;
    border-radius: 40px;
  }

  .Productprice-container>div:nth-child(3)>button{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 21px;
  }
  .Productprice-container>div:nth-child(3)>button:nth-child(2){
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 21px;
    border: 2px solid var(--primary-color);
  }
  ul li::marker {
  font-size: 22px;
  color:var(--primary-color);
}
  .Aboutproducts-list{
    color: #646363;
    font-size: 17px;
  }
  .Aboutproduct-container>div:nth-child(2)>div{
    background-color:#DFDFDF;
    text-align: center;
    border-radius: 15px;
  }
  .Aboutproduct-container>div:nth-child(2)>div>img{
    width: 500px;
    height: 500px;
  }
  .CustomerReview-section>div>div{
    width: 90px;
    height: 90px;
  }
 .CustomerReview-section>p{
    font-size: 18px;
    color: #8C8C8C;
 }
.User-reviewform{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.User-reviewheader{
    width: 80px;
    height: 80px;
}
.Review-btn{
    width: 100%;
    color: #fff;
    background-color: var(--primary-color);
}
.Search-btn{

  color: #fff;
  background-color: var(--primary-color);
}
.Sellerzone-heading>div:nth-child(1)::after{
  background-color: #5956E9;
  content: '';
  width: 100px;
  height: 3px;
  position: absolute;
}
.Seller-section{
  background-color: #F2F1FC;
  
}
.Seller-card{
 background-color: #fff;
  border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Seller-card>div>img{
  width: 85px;
  height: 85px;
}
.Sellerstore-header>div:nth-child(2){
  height: fit-content;
}
.Message-btn{
  right:-10px;
  top:-25px;
}
.Message-btn>button{
  display: grid;
  place-items: center;
  padding: 0;
  border-radius: 40px;
  width: 50px;
  color: #fff;
  height: 50px;
  background-color: var(--primary-color);

}
.Filters-section>span{
  
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-color: var(--primary-color);
}
.Filter_btns>button{
  background-color: var(--primary-color);
  padding: 10px 16px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}
.Filter_btns>.dropdown>.btn,
.Offers-sort{
  border: 1px solid #646363;
  padding: 10px 16px;
  border-radius: 50px;
  color: #555;
 

  margin-right: 15px;
}
.Shop-logo>div{
  border-radius: 70px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border: 1px solid #646363;
}
.Camera-container{
  width: 30px;
  height: 30px;
  border-radius: 70px;
  background-color: #5956E9;
  position: absolute;
  color: #fff;
  display: grid;
  place-items: center;
  bottom: 0;
  right: 0;
}

.Sidebar{
  border-radius: 15px;
  background-color: var(--primary-color);
}
.Content-section{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Tablehead{
  border-radius: 10px;
  color: #fff;
  background-color: var(--primary-color);
}
.Tablehead>tr>th{
  padding: 14px;
}
.form-padding{
  padding: 13px 14px;
}
.btns{
  background-color: var(--primary-color);
}

.Delete-btn{
  position: absolute;
  top:-25px;
  right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.Delete-btn>button{
  border-radius: inherit;
}
.Regsiterimage{
  height: 500px;
}