@media (min-width:320px) and (max-width:425px) {
    .Navbar_container>div{
        justify-content: inherit;
    }
    .Banner-container{
        background-image: none;
        height: fit-content;
        padding: 50px 10px;
    }
    .Aboutsection-container,
    .Productspage-container>div:nth-child(1),
    .Flashdeal-container>div:nth-child(1),
    .Reviews-container, .Sellerzone-heading,
    .Seller-section>div{
        flex-direction: column;
    }
    .Aboutsection-container>div:nth-child(2){
        margin: 30px 0;
    }
    .Aboutsection-img{
        width: 90px;
        height: 90px;
    }
    .counter-container{
        justify-content: center;
        margin-top: 20px;
    }
    .Flashdeal_card,
    .Hotoffer_card,
    .Hotoffer_card2,
    .Aboutproduct-container{
        flex-direction: column-reverse;
    }
    .Hotoffer_card>div:nth-child(1),
    .Hotoffer_card2>div:nth-child(1){
        padding-top: 35px;
    }
    .Productsimage-container>img{
        width: 100%;
        border-radius: inherit;
    }
    .Subimage-container{
        overflow-x: scroll;
    }
    .Aboutproduct-container>div:nth-child(2)>div>img{
        width: 100%;
        height: fit-content;
        border-radius: inherit;
    }
   
  .Sellerslider>.swiper-wrapper>.swiper-slide{
    height: 250px;

  }
  .Sellerslider>.swiper-wrapper>.swiper-slide>img{
  object-fit: cover;
    
  }
  .navbar-toggler{
    padding: 0;
  }
}